---
import FingerprintImage from '../assets/fingerprint.png';
import Backgroundimg from '../images/bg.jpg'

---
<section class="login section bg-blue-900 bg-cover bg-center bg-custom-background">
    <div class="flex justify-between items-center w-full max-w-3xl mx-auto mb-4">
        <h1 class="text-xl font-bold text-white">myAadhaar</h1>
      </div>

<div class="login-page  min-h-screen display-flex flex-col justify-center items-center p-6">
  <div class="text-center display-flex flex-col justify-space-evenly mb-8">
    

    <h1 class="text-4xl font-semibold text-blue-500 mb-4">
      Welcome to <span class="text-black">myAadhaar</span>
    </h1>
    
    <div >
      Click on <b>Login</b> button to explore online demographics update service,
      Aadhaar PVC card ordering & tracking, and more value-added services offered by UIDAI.
      Your mobile number is required to be registered with the Aadhaar to login.
  </div>
  </div>

 
  <div class= class="login-section text-white login card display-flex flex-col justify-center mb-8 bg-white shadow-md rounded-lg p-6 max-w-sm w-full">
    <div class="flex justify-center mb-6">

    </div>
    <button class="w-full bg-blue-600 text-white text-lg font-semibold py-3 rounded-lg">
      Login
    </button>
    <p class="text-gray-500 text-sm mt-2 text-center">
      Login with Aadhaar and OTP
    </p>
  </div>
</div>

<div class="flex justify-center gap-4 p-4">
    <div class="ml-9 cursor-pointer">English</div>
    <div class="ml-9 cursor-pointer">हिंदी</div>
    <div class="ml-9 cursor-pointer">मराठी</div>
    <div class="ml-9 cursor-pointer">ગુજરાતી</div>
</div>
</section>

<section class="enrollment charges text-center ">
    <div class=" text-center "> Aadhar Enrollment and Update Charges</div>
    <div class=" text-center " >Enrollment and Update forms</div>
    <div class="text-center">List of supporting documents for Aadhar enrollment and Update</div>


</section>




